* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  user-select: none;
  user-drag: none;
  -webkit-user-select: none;

  -webkit-user-drag: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:root {
  --main-color: #001529;
  --bg-color: #fff;
}

body {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
